<h1>Editing Spell Component Type</h1>

<%= render 'form', spell_component_type: @spell_component_type %>

<%= link_to 'Show', @spell_component_type %> |
<%= link_to 'Back', spell_component_types_path %>
